server-status-indicator {
  .server-status-indicator {
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 8px;
    max-height: 8px;
    overflow: visible;
  }
  .server-status-indicator__back {
    stroke-width: 30px;
    transform-origin: center center;
    will-change: transform, stroke-dasharray, stroke-dashoffset
  }
  .server-status-indicator__front {
    fill: #fff;
    stroke: #fff;
    transform: scale(0);
    transform-origin: center center;
    will-change: transform, opacity
  }
  .server-status-indicator--on {
    fill: #8cdd92;
    stroke: #8cdd92
  }
  .server-status-indicator--on .server-status-indicator__front {
    fill: inherit;
    stroke: inherit;
    transform: scale(1);
  }
  .server-status-indicator--was-on {
    fill: #8cdd92;
    stroke: #8cdd92
  }
  .server-status-indicator--off, .server-status-indicator--transition, .server-status-indicator--was-off {
    fill: #b8bdcc;
    stroke: #b8bdcc
  }
}
