<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <i class="fas fa-bars fa-2x"></i>
    </button>
    <ion-title>{{ 'PAGE.SERVERS.TITLE' | translate}}</ion-title>
    <ion-buttons end>
      <loading-indicator (action)="refresh()" [loading]="loading" [loading_done]="loading_done"></loading-indicator>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="compact_server_design">
  <ion-searchbar (ionInput)="search($event)"></ion-searchbar>
    <ion-card>
      <ion-list>

        <button ion-item *ngFor="let server of _search ; let i = index" (click)="openDetailsPage(server)" [id]="server.name">

          <h2>{{ server.name }}
            <server-status-indicator [status]="server.status" right=""></server-status-indicator>
          </h2>
          <p text-wrap="">{{ server.server_type.memory * 1024}} MB / {{ server.server_type.disk }} GB / {{
            server.datacenter.name
            }}
            /
            {{ server.public_net.ipv4.ip }}</p>
        </button>
        <p ion-item *ngIf="_search == null || _search.length == 0" class="message_box info" text-wrap=""
           [innerHTML]="'PAGE.SERVERS.NO_SERVERS' | translate">
        </p>
      </ion-list>
    </ion-card>
</ion-content>
<ion-content *ngIf="!compact_server_design">
  <ion-searchbar (ionInput)="search($event)"></ion-searchbar>
    <ion-row class="row">
      <ion-col col-12 col-sm-3 col-md-3 col-lg-4 col-xl-2 *ngFor="let server of _search; let i = index">
        <ion-card class="server" [id]="'server_'+i">
          <ion-row class="server_header" text-center="">
            <ion-col offset-9 col-3 style="max-height:20px;">
              <button ion-button="" clear="" color="light"
                      (click)="openSubMenu('server_'+i+'_content')" class="server_menu"
                      [attr.data-server]="server.name">
                <i class="fas fa-ellipsis-h fa-2x"></i>
              </button>
            </ion-col>
            <ion-col col-12 align-items-start>
              <h2>{{ server.name }}
                <server-status-indicator [status]="server.status"></server-status-indicator>
              </h2>
            </ion-col>
          </ion-row>
          <ion-card-content>
            <p text-wrap="">{{ server.server_type.memory * 1024}} MB / {{ server.server_type.disk }} GB / {{
              server.datacenter.name
              }}
              /
              {{ server.public_net.ipv4.ip }}</p>

          </ion-card-content>
          <ion-card-content [id]="'server_'+i+'_content'" style="display:none;"
                            [@animate]="visible['server_'+i+'_content']">
            <ion-row class="row">
              <ion-col class="col" text-center="">
                <button clear="" color="primary" icon-start="" ion-button="" small="" (click)="openDetailsPage(server)"
                        class="open_server">
                  <i class="fa fa-fw fa-info"></i> {{ 'ACTIONS.OPEN_DETAILS' | translate }}
                </button>
              </ion-col>
              <ion-col class="col" text-center="">
                <button clear="" color="secondary" icon-start="" ion-button="" small="" (click)="openEditModal(server)"
                        class="edit_server">
                  <i class="fa fa-fw fa-edit"></i> {{ 'ACTIONS.EDIT' | translate }}
                </button>
              </ion-col>
              <ion-col class="col" text-center="">
                <button clear="" color="danger" icon-start="" ion-button="" small="" (click)="delete(server)"
                        class="delete_server">
                  <i class="fa fa-fw fa-trash"></i> {{ 'ACTIONS.DELETE' | translate }}
                </button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-12>
        <ion-card *ngIf="_search == null || _search.length == 0" id="no_servers">
          <ion-card-content>
            <p class="message_box info" text-wrap=""
               [innerHTML]="'PAGE.SERVERS.NO_SERVERS' | translate"></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  <ion-fab bottom right>
    <button ion-fab (click)="openCreateServerModal()"><i class="fas fa-plus"></i></button>
  </ion-fab>
</ion-content>
