<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <i class="fas fa-bars fa-2x"></i>
    </button>
    <ion-title>
      {{ 'PAGE.ABOUT.TITLE' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p [innerHTML]="'PAGE.ABOUT.TEXT' | translate">
  </p>
</ion-content>
