<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <i class="fas fa-bars fa-2x"></i>
    </button>
    <ion-title>{{ 'PAGE.HOME.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p [innerHTML]="'PAGE.HOME.TEXT' | translate"></p>
  <div *ngIf="project.projects == null || project.projects.length == 0">
    <button ion-button="" block color="danger" (click)="openProjectsPage()">{{ 'PAGE.HOME.ADD_PROJECT_BUTTON' |
      translate}}
    </button>
  </div>
</ion-content>
