<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <i class="fas fa-bars fa-2x"></i>
    </button>
    <ion-title>
      {{ 'PAGE.SETTINGS.TITLE' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      {{ 'PAGE.SETTINGS.APP.TITLE' | translate }}
    </ion-list-header>
    <div ion-item="">
      <ion-label>{{ 'PAGE.SETTINGS.APP.VERSION' | translate }}</ion-label>
      <span item-right>{{ version }}</span>
    </div>
    <div ion-item="">
      <ion-label>{{ 'PAGE.SETTINGS.APP.LANGUAGE' | translate }}</ion-label>
      <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()" id="language">
        <ion-option value="de">Deutsch</ion-option>
        <ion-option value="en">English</ion-option>
      </ion-select>
    </div>
    <ion-list-header>
      {{ 'PAGE.SETTINGS.SECURITY.TITLE' | translate }}
    </ion-list-header>
    <ion-item *ngIf="finger_print >= 0">
      <ion-label>{{ 'PAGE.SETTINGS.SECURITY.AUTH.TITLE' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="finger_print" (ionChange)="openFingerprint()"></ion-toggle>
    </ion-item>
    <p ion-item="" class="message_box info" *ngIf="finger_print == -1" text-wrap=""
       [innerHTML]="'PAGE.SETTINGS.SECURITY.AUTH.NOT_AVAILABLE' | translate "></p>
    <ion-list-header>
    Design
    </ion-list-header>
    <ion-item>
      <ion-label>{{ 'PAGE.SETTINGS.DESIGN.COMPACT_SERVERS' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="compact_server_design" (ionChange)="changeServersDesign()"></ion-toggle>
    </ion-item>
  </ion-list>
  <button ion-button="" color="danger" (click)="openDeleteAllPage()">
    {{ 'PAGE.DELETE_ALL.TITLE' | translate }}
  </button>
</ion-content>
