<!-- Generated template for the LoadingIndicatorComponent component -->
<button ion-button right="" (click)="callAction()" clear="">
  <i class="fas fa-sync fa-1x" [ngClass]="{'fa-spin':loading}" *ngIf="loading_done == false"></i>
  <i class="fas fa-check fa-1x" *ngIf="loading_done == true"></i>
  <i class="fas fa-times fa-1x" *ngIf="loading_error != null && loading_error == true "></i>
</button>
