// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.message_box {
  margin: 10px 0px;
  padding: 12px;

  &.info {
    color: #00529B;
    background-color: #BDE5F8;
  }
  &.success {
    color: #4F8A10;
    background-color: #DFF2BF;
  }
  &.warning {
    color: #9F6000;
    background-color: #FEEFB3;
  }
  &.error {
    color: #D8000C;
    background-color: #FFD2D2;
  }
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default, .back-button, .segment-button, .bar-button-default-ios {
  color: #ffffff !important;
}

.fab {
  contain: initial;
}

.text-white {
  color: #ffffff !important;
}

ion-fab {
  button {
    box-shadow: 0 4px 10px #6b6b6b;
  }

  ion-fab-list button[ion-fab] {
    text-align: center;
    overflow: visible;

    div.label {
      position: absolute;
      right: 48px;
      background: rgba(248, 248, 248, 1);
      height: 24px;
      line-height: 16px;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 5px;
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
      color: #000000;
    }
  }

  .button-inner {
    overflow: visible;
  }
}

.pill {
  padding: 3px 5px;
  text-transform: uppercase;
  background-color: #dddfe6;
  font-family: Montserrat, Roboto, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 3px;
}

.text-white {
  color: #ffffff;
}

ion-header ion-icon.back-button-icon.icon {
  color: #ffffff;
}

.project {
  .project_header {
    height: 120px;
    background: linear-gradient(180deg, #434a62 15%, #1f2433);
    h2 {
      color: $background-color;
      font-size: 20px;
      margin-top: -10px;
    }
    .project_menu {
      max-height: 20px;
      float: right
    }
  }
  .card-content {
    padding: 0 !important;
  }
}

.active-project {
  .project_header {
    background: linear-gradient(180deg, #f53d3d 15%, #932424);
    h2 {
      color: $background-color;
    }
  }
}

.share-project {
  margin: auto;
  display: block;
}

.server {
  .server_header {
    height: 120px;
    background: linear-gradient(180deg, #434a62 15%, #1f2433);
    h2 {
      color: $background-color;
      font-size: 20px;
      margin-top: -10px;
    }
    .server_menu {
      max-height: 20px;
      float: right
    }
  }
  .card-content {
    padding: 0 !important;
    p {
      color: #929292;
      text-align: center;
    }
  }
}

