<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Hetzner Cloud Mobile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item="" *ngFor="let menu_entry of menu_entries;" (click)="openPage(menu_entry)" menuClose="">
        <i [class]="'fas fa-fw '+menu_entry.icon"></i> {{ menu_entry.key | translate }}
      </button>
      <button ion-item (click)="openAboutPage()" menuClose=""
              style="position: fixed; bottom:0; text-align: center;font-size:12px;">
        {{ 'PAGE.ABOUT.TITLE' | translate }}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav id="nav" #content [root]="rootPage"></ion-nav>


