<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <i class="fas fa-bars fa-2x"></i>
    </button>
    <ion-title>{{ 'PAGE.IMAGES.TITLE' | translate}}</ion-title>
    <ion-buttons end>
      <loading-indicator (action)="loadImages()" [loading]="loading" [loading_done]="loading_done"></loading-indicator>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
          <ion-item *ngFor="let image of images" (click)="openActionSheets(image)">
            <h2>{{ image.description }}</h2>
            <p *ngIf="image.created_from != null" translate [translateParams]="{imageName: image.created_from.name}">PAGE.IMAGES.CREATED_FROM</p>
            <div item-end>
              <span class="pill">{{ image.type }}</span>
            </div>
          </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
