<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <i class="fas fa-bars fa-2x"></i>
    </button>
    <ion-title>{{ 'PAGE.ACTIONS.TITLE' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button right="" (click)="loadActions()">
        <i class="fas fa-sync fa-1x" [ngClass]="{'fa-spin':loading}" *ngIf="loading_done == false"></i>
        <i class="fas fa-check fa-1x" ion-text color="secondary" *ngIf="loading_done == true"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list *ngFor="let action of actions">
      <ion-item>
        <h3 [translate]="'PAGE.ACTIONS.COMMANDS.'+(action.command.toUpperCase())"
            [translateParams]="{subject:action.resources[0].id}"></h3>
        <ion-note>{{ 'PAGE.ACTIONS.STATUS' |translate }}
          <span *ngIf="action.status == 'running'" ion-text="" color="primary"><i
            class="fas fa-spin fa-spinner fa-pulse"></i> {{ action.progress}}%</span>
          <span *ngIf="action.status == 'success'" ion-text="" color="secondary"><i class="fas fa-check"></i></span>
          <span *ngIf="action.status == 'error'" ion-text="" color="danger"><i class="fas fa-times"></i></span>
        </ion-note>
        <ion-note item-end><strong>{{ action.started|date:"d.M.y H:m" }}</strong></ion-note>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
