<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'PAGE.SERVERS.MODAL.BACKUPS.TITLE' | translate}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios" class="text-white">{{ 'ACTIONS.CANCEL' | translate}}</span>
        <i class="fas fa-times" showWhen="android,windows"></i>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p [innerHTML]="'PAGE.SERVERS.MODAL.BACKUPS.DESCRIPTION.BACKUPS' | translate" text-wrap=""></p>
      <p *ngIf="create_backup_done === true" class="message_box success" text-wrap="">{{ 'PAGE.SERVERS.MODAL.BACKUPS.SUCCESS.BACKUP' | translate}}</p>
      <button ion-button="" color="danger" (click)="create_backup()" *ngIf="server.backup_window != null">{{ 'PAGE.SERVERS.MODAL.BACKUPS.ACTIONS.CREATE_BACKUP' | translate}}
      </button>
      <button (click)="disable_backups()" ion-button color="danger" *ngIf="server.backup_window != null">{{ 'PAGE.SERVERS.MODAL.BACKUPS.ACTIONS.DISABLE_BACKUP' | translate}}
      </button>
      <ion-list *ngIf="server.backup_window == null">
        <ion-item>
          <ion-label>{{ 'PAGE.SERVERS.MODAL.BACKUPS.FORM.BACKUP_TIME.LABEL' | translate}}</ion-label>
          <ion-select [(ngModel)]="backup_window" required="">
            <ion-option value="22-02">{{ 'PAGE.SERVERS.MODAL.BACKUPS.FORM.BACKUP_TIME.22_02' | translate}}</ion-option>
            <ion-option value="02-06">{{ 'PAGE.SERVERS.MODAL.BACKUPS.FORM.BACKUP_TIME.02_06' | translate}}</ion-option>
            <ion-option value="06-10">{{ 'PAGE.SERVERS.MODAL.BACKUPS.FORM.BACKUP_TIME.06_10' | translate}}</ion-option>
            <ion-option value="10-14">{{ 'PAGE.SERVERS.MODAL.BACKUPS.FORM.BACKUP_TIME.10_14' | translate}}</ion-option>
            <ion-option value="14-18">{{ 'PAGE.SERVERS.MODAL.BACKUPS.FORM.BACKUP_TIME.14_18' | translate}}</ion-option>
            <ion-option value="18-22">{{ 'PAGE.SERVERS.MODAL.BACKUPS.FORM.BACKUP_TIME.18_22' | translate}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <button ion-button="" color="danger" (click)="enable_backups()" *ngIf="server.backup_window == null">{{ 'ACTIONS.ORDER' | translate}}</button>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <p [innerHTML]="'PAGE.SERVERS.MODAL.BACKUPS.DESCRIPTION.SNAPSHOTS' | translate" text-wrap=""></p>
      <p *ngIf="create_snapshot_done === true" class="message_box success" text-wrap="">{{ 'PAGE.SERVERS.MODAL.BACKUPS.SUCCESS.SNAPSHOT' | translate}}</p>

      <button ion-button="" color="danger" (click)="create_snapshot()">{{ 'PAGE.SERVERS.MODAL.BACKUPS.ACTIONS.CREATE_SNAPSHOT' | translate}}</button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <p  [innerHTML]="'PAGE.SERVERS.MODAL.BACKUPS.DESCRIPTION.REBUILD' | translate" text-wrap=""></p>
      <ion-list>
        <ion-item>
          <ion-label>{{ 'PAGE.SERVERS.MODAL.BACKUPS.FORM.IMAGE' | translate}}</ion-label>
          <ion-select [(ngModel)]="image" required="">
            <ion-option *ngFor="let _image of images" [value]="image">
              {{ _image.description }} (Typ: {{ _image.type }})
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <button ion-button="" color="danger" (click)="rebuild_from_image()">{{ 'PAGE.SERVERS.MODAL.BACKUPS.ACTIONS.REBUILD_FROM_IMAGE' | translate}}</button>
    </ion-card-content>
  </ion-card>
</ion-content>
