<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <i class="fas fa-bars fa-2x"></i>
    </button>
    <ion-title>{{ 'PAGE.FLOATING_IPS.TITLE' | translate}}</ion-title>
    <ion-buttons end>
      <loading-indicator (action)="loadFloatingIPs()" [loading]="loading" [loading_done]="loading_done"></loading-indicator>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let _floating_ip of _floating_ips" (click)="openActionSheets(_floating_ip)">
        <div>
          <h2>{{ _floating_ip.description }}</h2>
          <p>{{ _floating_ip.ip }} - {{ _floating_ip.home_location.city }}</p>
        </div>
      </ion-item>

      <p ion-item *ngIf="_floating_ips == null || _floating_ips.length == 0" text-wrap="" class="message_box info">
        {{ 'PAGE.FLOATING_IPS.NO_FLOATING_IPS' | translate}}
      </p>
    </ion-list>
  </ion-card>
  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="openAddFloatingIP()">
      <i class="fas fa-plus"></i>
    </button>
  </ion-fab>
</ion-content>
