<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'PAGE.SERVERS.MODAL.EDIT.TITLE' | translate}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios" class="text-white">{{ 'ACTIONS.CANCEL' | translate}}</span>
        <i class="fas fa-times" showWhen="android,windows"></i>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label> {{ 'PAGE.SERVERS.MODAL.EDIT.FORM.NAME' | translate}}</ion-label>
      <ion-input type="text" value="" [(ngModel)]="server.name" required="" id="server_name"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button color="danger" (click)="updateServer()" id="save">{{ 'ACTIONS.SAVE' | translate}}</button>
  <p class="message_box error" *ngIf="error != null">{{ error |translate }}</p>
</ion-content>
