<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'PAGE.SSH_KEYS.MODAL.EDIT.TITLE' | translate}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios" class="text-white">{{ 'ACTIONS.CANCEL' | translate}}</span>
        <i class="fas fa-times" showWhen="android,windows"></i>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label>{{ 'PAGE.SSH_KEYS.MODAL.EDIT.FORM.NAME' | translate}}</ion-label>
      <ion-input type="text" value="" [(ngModel)]="ssh_key.name" required=""></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button color="danger" (click)="updateImage()">{{ 'ACTIONS.SAVE' | translate}}</button>
</ion-content>
