<ion-header>
  <ion-navbar>
    <ion-title id="server_detail_name">{{server.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list style="margin-bottom: 60px;">
    <ion-list-header>
      {{ 'PAGE.SERVERS.MODAL.DETAILS.INFORMATION.TITLE' | translate}}
    </ion-list-header>
    <ion-item>

      <span item-left>{{ 'PAGE.SERVERS.MODAL.DETAILS.INFORMATION.STATUS' | translate}}</span>
      <server-status-indicator [status]="server.status" item-right=""></server-status-indicator>
    </ion-item>
    <ion-item>
      <div item-left="">
        {{ 'PAGE.SERVERS.MODAL.DETAILS.INFORMATION.LOCATION' | translate}}
      </div>
      <div item-right="">
        {{ server.datacenter.description}}
      </div>
    </ion-item>
    <ion-item *ngIf="server.image != null">
      <div item-left="">
        {{ 'PAGE.SERVERS.MODAL.DETAILS.INFORMATION.IMAGE' | translate}}
      </div>
      <div item-right="">
        {{ server.image.description}}
      </div>
    </ion-item>
    <ion-list-header>
      {{ 'PAGE.SERVERS.MODAL.DETAILS.NETWORK.TITLE' | translate}}
    </ion-list-header>
    <ion-item>
      <div item-left="">
        {{ 'PAGE.SERVERS.MODAL.DETAILS.NETWORK.IPv4' | translate}}
      </div>
      <div item-right="">
        <span tooltip="{{ server.public_net.ipv4.dns_ptr}}" positionV="top" arrow>{{ server.public_net.ipv4.ip}}</span>
        <i class="fas fa-pencil-alt" (click)="changeIPv4ReverseDNSModal()"></i>
      </div>
    </ion-item>
    <ion-item>
      <div item-left="">
        {{ 'PAGE.SERVERS.MODAL.DETAILS.NETWORK.IPv6' | translate}}
      </div>
      <div item-right="">
        {{ server.public_net.ipv6.ip}}
        <i class="fas fa-pencil-alt" (click)="changeIPv6ReverseDNSModal()"></i>
      </div>
    </ion-item>
    <ion-item *ngIf="server.outgoing_traffic != null">
      <div item-left="">
        {{ 'PAGE.SERVERS.MODAL.DETAILS.NETWORK.TRAFFIC.OUTGOING' | translate}}
      </div>
      <div item-right="">
        {{ server.outgoing_traffic | fileSize}}
      </div>
    </ion-item>
    <ion-item *ngIf="server.ingoing_traffic != null">
      <div item-left="">
        {{ 'PAGE.SERVERS.MODAL.DETAILS.NETWORK.TRAFFIC.INGOING' | translate}}
      </div>
      <div item-right="">
        {{ server.ingoing_traffic | fileSize}}
      </div>
    </ion-item>
    <ion-list-header>
      {{ 'PAGE.SERVERS.TYPE_DETAILS.TITLE' | translate}}
    </ion-list-header>
    <ion-item>
      <div item-left="">
        {{ 'PAGE.SERVERS.TYPE_DETAILS.CORES' | translate}}
      </div>
      <div item-right="">
        {{ server.server_type.cores}}
      </div>
    </ion-item>
    <ion-item>
      <div item-left="">
        {{ 'PAGE.SERVERS.TYPE_DETAILS.MEMORY' | translate}}
      </div>
      <div item-right="" id="server_type_memory">
        {{ server.server_type.memory * 1024  }} MB
      </div>
    </ion-item>
    <ion-item>
      <div item-left="">
        {{ 'PAGE.SERVERS.TYPE_DETAILS.DISK' | translate}}
      </div>
      <div item-right="">
        {{ server.server_type.disk}} GB
      </div>
    </ion-item>
    <ion-item>
      <div item-left="">
        {{ 'PAGE.SERVERS.TYPE_DETAILS.STORAGE_TYPE' | translate}}
      </div>
      <div item-right="">
        {{ 'PAGE.SERVERS.MODAL.DETAILS.INFORMATION.STORAGE_TYPE.'+server.server_type.storage_type.toUpperCase() |
        translate}}
      </div>
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="primary" id="server_actions">
      <i class="fas fa-angle-up"></i>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="danger" (click)="delete()" id="delete_server">
        <div class="label" color="danger">{{ 'PAGE.SERVERS.MODAL.DETAILS.ACTIONS.DELETE' | translate}}</div>
        <i class="fas fa-trash"></i>
      </button>
      <button ion-fab color="danger" (click)="powerSettingsModal()" id="power_settings">
        <div class="label" color="danger">{{ 'PAGE.SERVERS.MODAL.DETAILS.ACTIONS.POWER' | translate}}</div>
        <i class="fas fa-power-off"></i>
      </button>
      <button ion-fab (click)="openEditModal()" color="secondary" id="rename_server">
        <div class="label" color="secondary">{{ 'PAGE.SERVERS.MODAL.DETAILS.ACTIONS.EDIT' | translate}}</div>
        <i class="fas fa-pencil-alt"></i>
      </button>
      <button ion-fab color="secondary" (click)="resizeModal()" id="upgrade_server">
        <div class="label" color="secondary">{{ 'PAGE.SERVERS.MODAL.DETAILS.ACTIONS.UPGRADE' | translate}}</div>
        <i class="fas fa-expand"></i>
      </button>
      <button ion-fab color="light" (click)="backupSettingsModal()">
        <div class="label" color="light">{{ 'PAGE.SERVERS.MODAL.DETAILS.ACTIONS.BACKUP' | translate}}</div>
        <i class="fas fa-hdd"></i>
      </button>
      <button ion-fab color="light" (click)="rescueModeModal()">
        <div class="label" color="light">{{ 'PAGE.SERVERS.MODAL.DETAILS.ACTIONS.RESCUE' | translate}}</div>
        <ion-icon name="help-buoy"></ion-icon>
      </button>
      <button ion-fab color="light" (click)="metricsPage()">
        <div class="label" color="light">{{ 'PAGE.SERVERS.MODAL.DETAILS.ACTIONS.METRICS' | translate}}</div>
        <i class="fas fa-chart-area"></i>
      </button>
      <button ion-fab color="light" (click)="consolePage()">
        <div class="label" color="light">{{ 'PAGE.SERVERS.MODAL.DETAILS.ACTIONS.CONSOLE' | translate}}</div>
        <i class="fas fa-terminal"></i>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
